@import "tailwindcss";

*, *::before, *::after{
    box-sizing: border-box;
}

@font-face {
    font-family: "Poppins";
    src: url("../src/fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("../src/fonts/Poppins-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: light;
}

@font-face {
    font-family: "Poppins";
    src: url("../src/fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: medium;
}

@font-face {
    font-family: "Poppins";
    src: url("../src/fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: semibold;
}

@font-face {
    font-family: "Poppins";
    src: url("../src/fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: bold;
}

@theme {
    --font-poppins : "Poppins", sans-serif;

    --color-primary-50: #f9f9fa;
    --color-primary-75: #efefef;
    --color-primary-100: #191933;
    --color-primary-200: #060614;

    --color-accent-50: #8547f5;
    --color-accent-100: #7736ec;
    }


.transition-properties{

    @apply transition-all duration-150;
    
}